[2019-11-16 12:22] tadams42 opened #1 "List indexes in keypath?"
Hi there, I'm loving `benedict`, but have a feature request... Can we have something like this:

[code]

[2019-11-17 09:01] fabiocaccamo commented on #1
Thank you, I’m glad you like it.
This is a very good idea, I will implement it as soon as possible.

[2019-11-19 16:20] fabiocaccamo commented on #1
@tadams42 which syntax do you think is better?
[code]
or
[code]

[2019-11-20 14:28] IvoMerchiers opened #2 "Add docstrings to methods"
When programming using the python-benedict, I like to use the fact that my IDE can automatically show docstrings for methods. This way, you don't have to constantly look up the source code or guess the meaning of parameters.

You pretty much have all of this information in the readme.md, so it might be good to copy that into your code.
Ideally, you can then automatically generate more extensive an

[2019-11-20 14:45] fabiocaccamo commented on #2
@IvoMerchiers thank you for reporting this, I will add docstrings as soon as possible.

[2019-11-24 12:48] tadams42 commented on #1
Hi, sorry for late reply...

I like `d.get("a.1.b")` better since it is less chars to type :-)

[2019-12-09 10:32] abashind opened #3 "Cast benedict to dict"
I’m trying to write benedict object to yaml file, and there is one problem.
Benedict.to_yaml add “!!python/object/new:benedict.dicts.benedict\ndictitems:” into yaml file.
How can I cast benedict object to “simple” dictionary, which will look like initialy dictionary?
Or how can I write benedict to yaml without “!!python/object/new:benedict.dicts.benedict\ndictitems:” and keypath_separator:\.\n ?

[2019-12-09 11:18] fabiocaccamo commented on #3
@abashind which `python-benedict` version are you using?

[2019-12-09 13:09] abashind commented on #3
@fabiocaccamo I think, current - 0.13.0

[2019-12-10 10:20] fabiocaccamo commented on #3
I don't think you have `0.13.0` version, this issue should have already been fixed.
Please run `pip install python-benedict==0.13.0` and check if your problem persists.

If you need to check an object type:
[code]
or is there something in your request that I'm not understanding?
If yes, could you explain it better?

[2019-12-17 10:41] fabiocaccamo commented on #3
Any update?

[2019-12-18 10:26] fabiocaccamo commented on #2
@IvoMerchiers released in `0.14.0`.

[2019-12-18 10:26] #2 closed

[2019-12-18 10:26] #3 closed

[2019-12-23 19:41] rbentaarit opened #4 "filter method not taking key_path_separator in consideration"
**Python version**
3.7.4

**Package version**
0.14.0

**Current behavior (bug description)**
 d = benedict()
d.keypath_separator = '$'
 --implementation--
 print (d.keypath_separator)
  d1 = d.filter(lambda k, v: True)
  print (d1.keypath_separator)

This behavior makes me loose the correct structure when I have '.' in the key parameters.
**Expected behavior**

[2019-12-24 10:41] fabiocaccamo commented on #4
Thank you for reporting this issue. The same problem affects also all methods that return a new benedict instance.
I will fix this in the next release.

[2019-12-24 10:59] fabiocaccamo commented on #4
In the meanwhile you can fix it by doing:
[code]

[2019-12-24 13:00] rbentaarit commented on #4
Thanks for the quick response : )
Unfortunately this will not work because the tree is already generated by the filter function and in my use case I have **'.'** in the keys which will divide them in sub trees before the constructor function.
so my fix for now :
` new_dict = benedict()
  new_dict.keypath_separator = '$'
  keys = list(d.keys())
  for key in keys:
    value = d.get(key, None)
    if

[2019-12-24 15:57] fabiocaccamo commented on #4
I understand the problem, thank you for having explained it better.

[2020-01-03 11:47] mathiasrabe opened #5 "get doesn't work when the key is a list with one element."
**Python version**
3.7.4

**Package version**
0.14.0

**Current behavior (bug description)**
I tried the following:
[code]
'two' will be printed but 'one' not. I get an type error: TypeError: unhashable type: 'list'

**Expected behavior**
I expected that the last command will print 'one'.

[2020-01-06 17:09] bozelosp opened #6 "AttributeError: 'benedict' object has no attribute '_keypath_separator'"
Hola! Happy 2020!

I love this library; best thing that happened to me in months, actually :-)

Now, I'm stumbling upon an issue that I haven't been able to resolve on my own.

It occurs when a pool worker attempts to return a **list** of totally seperate and independent benedict objects.

Any idea why that might be?

Many thanks,
Panos

[code]

_Edit 1:_

I just tried the same approach minus the

[2020-01-07 09:56] fabiocaccamo commented on #5
@mathiasrabe thanks for reporting this, I will fix it as soon as possible.

[2020-01-07 10:17] fabiocaccamo commented on #6
@bozelosp I'm really glad that also you like it, share it with your colleagues! :)

This problem is related to pickle, I will fix it as soon as possible.

[2020-01-07 12:18] bozelosp commented on #6
No, worries! Thank you for sharing this awesome tool with the community :-)

[2020-01-07 15:05] fabiocaccamo commented on #6
You can install `0.14.1` version.

[2020-01-07 15:05] fabiocaccamo commented on #5
You can install `0.14.1` version.

[2020-01-07 15:06] fabiocaccamo commented on #4
You can install `0.14.1` version.

[2020-01-07 15:19] #6 closed

[2020-01-07 15:19] #5 closed

[2020-01-07 15:19] #4 closed

[2020-01-07 18:02] bozelosp commented on #6
Awesome! Thank you, Fabio!

[2020-01-23 17:41] supersational commented on #1
I love this library for dealing with nested JSON data from web APIs (sometimes the JSON can be massive), just copy the paths into a benedict.

 `d = benedict(response.json())`

One easy way to get the path in Chrome network tab at least, is to right click and press "Copy property path", I've attached a screenshot below
![image](https://user-images.githubusercontent.com/11251397/73008507-9d6b4400-3

[2020-01-24 21:07] d4n13lbc commented on #1
I see this was implemented, but jsondiff returns integer as keys. With the current solution it is not possible to index by an integer key

[2020-01-25 12:35] fabiocaccamo commented on #1
@d4n13lbc don'worry, I will implement the a flexible solution.

[2020-01-30 14:58] fabiocaccamo commented on #1
@tadams42, @supersational, @d4n13lbc you can install `0.16.0` version.

List index support in keypaths has been implemented using the standard array syntax, eg: `products[0].categories[1].name`.

Let me know if you find any issue or you need new features.

[2020-01-31 11:37] #1 closed

[2020-02-01 21:06] d4n13lbc commented on #1
Probably not the best place or the best example, but maybe this is worthy for
somebody

[code]

[code]

Notice the use of [] for integer key and . for string key

[2020-02-07 01:16] teebu opened #7 "Search for int or float value no results"
**Python version**
3.8

**Package version**
0.17.0

**Current behavior (bug description)**
[code]
output:
[code]

**Expected behavior**
Actual path, key, value

[2020-02-07 09:17] fabiocaccamo commented on #7
@teebu thank you for reporting this issue, I will fix it as soon as possible.

[2020-02-07 17:02] rbentaarit opened #8 "Change of behavior from 0.16.0 to 0.17.0"
**Python version**
3.7.5

**Package version**
0.17.0

**Current behavior (bug description)**

`    d = benedict({'jobs': [{'name': 'job-name', 'plan': [{'put': 'put-name', 'params': {'action': 'create', 'fields': {'Version/s': [{'name': 'N/A'}], 'User Impact': 'Info on User Impacts'}}}]}]}, keypath_separator='/')
`
**outputs :**

**On 0.16.0**
{'jobs': [{'name': 'job-name', 'plan': [{'put': 'put-n

[2020-02-07 22:05] fabiocaccamo commented on #8
Yes `0.17.0` is the correct behavior.
As you can see the exception is raised because some dict keys contain the keypath separator.

This was not a bugfix, but an enforcement... btw maybe I forgot to add this change to the changelog, sorry.

I hope you find this lib useful and you recommend it to other devs. Any feedback or feature request will be appreciated.

[2020-02-07 23:22] rbentaarit commented on #8
We do really love this library.
Thank you !

[2020-02-07 23:22] #8 closed

[2020-02-08 14:14] fabiocaccamo commented on #8
@rbentaarit if your dict keys contain the `keypath_separator` you can initialize the dict with `keypath_separator=None`, call `standardize`, then you can set `keypath_separator` to the char you need.

[2020-02-10 23:56] #7 closed

[2020-02-16 05:45] dhernandezgt opened #9 "List embedded on dictionary"
Hi Fabio,
it is a good package and useful for dictionary nested.  The suggestion is methods for fetching data from dictionary embedded on list, returning a list or individual value.

for example:
`items.key1` return `[val1,val1, ... ,val1]` from each key1.
`items.key1[x]` return `val1` from x.
`items.key1[x].key3[x].key71[x]` return `[val1,val3,val71]` from x.

I expect that my suggestion seem an

[2020-02-17 09:18] fabiocaccamo commented on #9
@dhernandezgt I have not understood very well what you would like to be able to do, and the data-structure file is empty, could you provide a real case example?

[2020-02-19 06:51] dhernandezgt commented on #9
Hi Fabio,

it attached and example file.  I continue checking different methods that
are useful but I don't find

items.key01 return [PReJPJ0UUCQ,PReP99YQPU0R, ... ,PRe99VU28YJC] from each
dictionary in items.
items.key01[0] return PReJPJ0UUCQ or items.key01[1] return  PReP99YQPU0R or
last element in list items.key01[-1] return  PRe99VU28YJC
return items.key01[1].expLevel[1].campo[1]['id'] return

[2020-02-19 08:23] fabiocaccamo commented on #9
@dhernandezgt you can do it in two ways:
-   Using keypath:
[code]
-   Using keylist:
[code]

[2020-02-20 00:02] #9 closed

[2020-02-21 07:54] simkimsia opened #10 "When key has space, it does not work for key path. but it works for key list"
**Python version**
3.6

**Package version**
0.14.1

**Current behavior (bug description)**
Not sure if it's a bug

[code]

but key list works

[code]

**Expected behavior**
Works for both keypath and key list?

[2020-02-21 09:51] fabiocaccamo commented on #10
List index support has been [officially released](https://github.com/fabiocaccamo/python-benedict/blob/master/CHANGELOG.md#0160---2020-01-30) in `0.16.0` version, just update the library.

[2020-02-21 09:51] #10 closed

[2020-02-22 09:14] simkimsia commented on #10
Copy that. thanks 🙏

[2020-03-09 12:22] simkimsia commented on #10
Works in v0.18 FYI no response needed. 🙏 Thanks

[2020-03-09 12:25] simkimsia opened #11 "[Question] Can I use [n] as a way to loop through all in list?"
[code]

I guess the answer to my question is a simple no.

But I was wondering if there's a way to get what I want? Either via a feature request or via other pythonic code to work with existing benedict?

Expected output is a list of `['a', 'b']`

[2020-03-09 12:32] fabiocaccamo commented on #11
@simkimsia actually it's not possible, but it is already on my TODO to support `*` as index.

[code]

[2020-03-09 12:37] simkimsia commented on #11
I'm okay with that problem.

By the way, I am writing my own utility method to do something like this in my Django app until this is covered in benedict.

And my default if the keypath after the `[*]` is not found, then I simply skip.

Not sure what your thoughts are regarding this

[2020-03-09 13:01] fabiocaccamo commented on #11
@simkimsia I updated my previous comment.
If you can, paste here your own utility method to do this.

[2020-03-09 13:05] simkimsia commented on #11
my utility method is kinda 💩 and it's a bit different in the sense that I want to return a dictionary of keypaths to list_of_values

and it's not tested yet

[code]

How i intend to call it
[code]

SOrry I didn't have time to clean this up.

[2020-03-13 00:10] jerkmcjerkface opened #12 "Can't specify a keypath separator at the same time as creating a dictionary from yaml"
**Python version**
2.7

**Package version**
python-benedict                    0.14.1

**Current behavior (bug description)**
When attempting to create a dictionary from a yaml file, if will fail if the data inside the yaml file contains a "." .  This is expected since the period is the default separator.  However, this seems like it should make it work, but it doesn't:

` d = benedict.from_yaml("

[2020-03-13 08:52] fabiocaccamo commented on #12
@jerkmcjerkface thank you for reporting this issue. I will add `keypath_separator` support to all `from_{format}` methods as soon as possible.

In the meanwhile you can do the same in this way:
[code]

[2020-03-13 13:03] fabiocaccamo commented on #12
Fixed in `0.18.1` version, enjoy :octocat:

[2020-03-17 13:34] #12 closed

[2020-03-26 11:15] momocow opened #13 "Support returning indexes of list value in keypaths() utility function"
For example,

[code]

In my use case, I have a regular expression as a filter for keypaths, the filtered keypaths are passed to `subset()` to make a new filtered dict.

For example,

[code]
Just like what map() works in the functional programming.

[2020-03-26 14:25] fabiocaccamo commented on #13
This is really an interesting feature.

[2020-04-01 16:43] hagfelsh opened #14 "TypeError: 'module' object is not callable"
**Python version**
3.6.9

**Package version**
0.18.1

**Current behavior (bug description)**
on the very first line where i call the benedict() class, an exception is thrown:

[code]
This even happens when creating a dictionary just as your usage examples demonstrate.

**Expected behavior**
see above!

[2020-04-01 17:42] fabiocaccamo commented on #14
Check how you import it.

[2020-04-01 22:29] hagfelsh commented on #14
I did originally have that mistake, yes! However here's the whole file: (the traceback is the same of course)

[code]

[2020-04-01 23:51] fabiocaccamo commented on #14
I don’t think the traceback is the same, could you check it please?

[2020-04-02 02:48] hagfelsh commented on #14
Sure thing!
[code]
In pycharm there are some deeper parts of the traceback. I'm new to python so I'm not sure what in here is valuable.  Here are some that look like they might be:

[code]

[2020-04-02 12:43] fabiocaccamo commented on #14
I don't think this is a library problem, this snipped of code works perfectly:
[code]
and prints:
[code]

[2020-04-02 12:43] #14 closed

[2020-04-02 12:52] hagfelsh commented on #14
Well that's interesting!  I wonder what's wrong in my environment!  I'll cook up a new venv and try it there.  Thanks for such fast responses :)

[2020-04-02 13:07] fabiocaccamo commented on #14
Ok, don't worry! I you find any bug please provide also a failing test case to speed up bug fixing.

[2020-04-06 12:37] divyanshu16 opened #15 "Bug: Benedict to_json converts np.int64 to str"
Whenever np.int64 datatype comes, benedict is returning str due to which when I json load, I am not seeing number.

`json.loads(benedict({"x": [np.int64(0), np.int64(34)]}).to_json())`

[2020-04-07 17:01] fabiocaccamo commented on #15
@divyanshu16 as you can see in the [json serializer](https://github.com/fabiocaccamo/python-benedict/blob/master/benedict/serializers/json.py#L34), all unexpected types are casted to `str` to avoid encoding errors.

Does it work correctly if you encode it with the standard `json` encoder?
[code]

Keep in mind that in `benedict` all encoders/decoders can receive their own options passed using kwarg

[2020-04-09 20:23] fabiocaccamo commented on #15
any feedback?

[2020-04-09 21:17] divyanshu16 commented on #15
Encoder from https://stackoverflow.com/a/47626762/3234468 helps in json load and then applying deep merge using benedict worked for me.

[2020-04-09 21:39] #15 closed

[2020-05-06 04:07] sameer-j opened #16 "Any direct way to use keypath for list of dictionaries?"
Example:
maindict =
[code]

I would like to get a result like this: ["comp1", "comp2"]

Any way to achieve this?

[2020-05-06 12:29] fabiocaccamo commented on #16
@sameer-j This issue is related to #11. The `*` feature is not supported yet, but when it will be released you will be able to do this:
[code]

[2020-05-14 16:13] sameer-j commented on #16
a more details example:
Eg if the data is:
[code]
I wish to something like components.name and get ["comp1", "comp"] and don't need the subcomponent name

[2020-05-16 13:05] fabiocaccamo commented on #16
@sameer-j this second example seems to require `xpath` support, btw this is already in the todo.

[2020-06-11 11:21] uknow2009 opened #17 "Are we looking for S3 integration where the input file could be anything (xml/csv) and output to be dict"
Input : S3 location files (all supported file format of benedict)
Should support all operations there after

[2020-06-11 12:04] fabiocaccamo commented on #17
I don’t understand what you need to do that is not actually possible to do.

[2020-06-12 07:06] uknow2009 commented on #17
Suppose we have to use below method:
https://github.com/fabiocaccamo/python-benedict#from_xml

This method takes url as first input, what if the url belongs to Amazon S3 or compatible S3 location for a hosted file.
Expectation : the method should be able to read the file directly from s3 location if we provide necessary configurations (AWS_KEY, AWS_SECRET, BUCKET, KEY etc)

I am checking if this k

[2020-06-12 11:53] fabiocaccamo commented on #17
Ok, it's clear.
Actually this is not planned and it is the first time that I receive this request.
This is an interesting feature, it should be not hard to implement it using `boto`: https://stackoverflow.com/questions/4993439/how-can-i-access-s3-files-in-python-using-urls#5010733

If you do it feel free to submit a PR.

[2020-06-13 07:18] uknow2009 commented on #17
Yes, I am using `boto3` to download the file first then using `python-benedict` to process it. I will check your repo internals implementation for the integration.
Thanks.

[2020-06-13 07:33] fabiocaccamo commented on #17
I think you must just change the `read_url` method here: `benedict/dicts/io/io_util.py`

[2020-07-23 02:26] braco opened #18 "Reduce dependencies via separate package?"
Hi, have you given any thought to separating the core dictionary traversal/manipulation extensions into its own package? We were surprised that the dependencies included things as far reaching as url fetching, the IO featureset, etc.

[2020-07-23 09:19] fabiocaccamo commented on #18
@braco this is an interesting topic. I already taken in consideration what you suggested, it will be surely the right approach, but frankly I'm really happy when I do complex operations such as IO operations > manipulation > IO operations again with just 1 import statement and 3 lines of code.

I understand also that most of the dependencies are related to the IO features and if you don't need IO

[2020-07-23 16:59] braco commented on #18
That sounds like a good idea to me. This is anecdotal but our back end engineer was resistant to use your library because of all of the extra dependencies. Would be really cool to see a zero third party dependency package if that's possible. You have a lot of great utility in the core methods.

[2020-07-23 18:41] fabiocaccamo commented on #18
Remove all the dependencies is not possible, in any case all the deps used are known and well tested.

[2020-08-08 16:56] algaspar opened #19 "Opening json file"
I'm presuming that this is just a usage issue rather than a bug.

I have a json formatted file in a local folder (windows 10) containing a json array of several json objects.  I was testing python-benedict functionality.  If I open the file like this:

    with open('filename.json', 'r', encoding='utf-8) as opened_file:
         loaded_file = json.load(opened_file)

'loaded_file' is returned as a

[2020-08-09 17:49] fabiocaccamo commented on #19
@algaspar thank you for reporting this, could you attach your json file here please?

[2020-08-10 06:11] godrose opened #20 "The packages fails to load AWS SAM yaml format with resources reference"
**Python version**
3.8

**Package version**
@latest (10.08.20)

**Current behavior (bug description)**

Loading a YAML template with the following entry
[code]
throws the following exception

[code]

**Expected behavior**
Such tags should be supported as well

I can't provide the whole template as it contains sensitive info but the provided info should be sufficient.
Please contact me if you have

[2020-08-10 06:31] fabiocaccamo commented on #20
- Could you provide your `benedict` implementation please?

- Could you provide the whole .yml file replacing sensitive data?

[2020-08-10 07:58] godrose commented on #20
@fabiocaccamo
YAML:
[code]

Code:
[code]

[2020-08-10 08:00] fabiocaccamo commented on #20
@godrose thank you, can I include your .yml file in the tests suite?

[2020-08-10 08:02] godrose commented on #20
@fabiocaccamo
I guess it would have to be stripped a little more in order to be included.
If you would be so kind to talk to me before you push it to the source code I'd be very grateful.
Thanks.

[2020-08-10 09:26] fabiocaccamo commented on #20
This is a `pyyaml` related issue, check here: https://github.com/yaml/pyyaml/issues/266 and the solution here: https://stackoverflow.com/a/2890073/2096218

[2020-08-10 10:42] fabiocaccamo commented on #20
You must a custom constructor for you tag before loading the yaml file:

[code]

[2020-08-10 10:42] #20 closed

[2020-08-10 16:32] algaspar commented on #19
Here's a test file that I was using...
[json_results.txt](https://github.com/fabiocaccamo/python-benedict/files/5052116/json_results.txt)

Thanks--

Al

[2020-08-11 00:57] algaspar commented on #19
FYI.  This was on a Windows 10 Pro box running Python 3.7.3 with python-benedict 0.18.1 and iPython 7.6.0.

--Al

[2020-08-11 14:41] godrose commented on #20
@fabiocaccamo Works like a charm. Thanks a lot!

[2020-08-11 14:53] godrose commented on #20
@fabiocaccamo What should be added to `to_yaml`? The write part is totally messed up right now.

[2020-08-11 15:47] fabiocaccamo commented on #20
@godrose you are now dealing with custom constructors (I have not experience with that), your best friend now is the `yaml` documentation: https://pyyaml.org/wiki/PyYAMLDocumentation

[2020-08-11 15:48] godrose commented on #20
Thanks a lot, will continue from there

On Tue, 11 Aug 2020 at 18:47 Fabio Caccamo <notifications@github.com> wrote:

--
Best Regards,
Gennady Verdel

[2020-08-12 10:55] fabiocaccamo commented on #17
@uknow2009 could you show me your boto3 implementation to download the file?

[2020-08-20 07:31] uknow2009 commented on #17
Using boto3 as below to download:

[code]

[2020-08-25 13:36] LeShadow opened #22 "Missing key in KeyError Exception"
**Python version**
Python 3.8

**Package version**
0.18.1

**Current behavior (bug description)**
I am using benedict to "flatten" nested dictionaries for easier use and using % as a separator.
When benedict can't find a key in the dictionary, it just gives the following error:
`KeyError`

It doesn't give any other indication what key exactly is missing, which is the normal behavior for dictionari

[2020-08-25 13:41] fabiocaccamo commented on #22
@LeShadow thank you for reporting this, could you provide your dictionary for testing quickly?

[2020-08-25 15:28] LeShadow commented on #22
So this is the dictionary in json format:

[code]

[2020-08-25 15:53] fabiocaccamo commented on #22
Thank you, could you try to do `dict_var["Vulnerabilities%[0]%Id"]` please?

[2020-08-27 07:46] fabiocaccamo commented on #22
@LeShadow the `KeyError` is correct, a normal dictionary would raise the same exception if you try to access it using a key which doesn't exist. To verify it just do: \``dict_var['InvalidVulnerabilities']`\`

[2020-08-27 07:46] #22 closed

[2020-08-27 11:43] emanuelmd opened #23 "Add a method that tries different key paths and returns the first truthy value or the last one"
Hello, awesome library you got here, I thoroughly enjoyed the pun as well.

Working with it made me realize of another functionality that could be built in, namely trying a list of keypaths until one of them returns a truthy value. It could be called `try_keypaths()` or something like that.

Here's how I imagine one would use it:

[code]

If this is something you think it'd fit, I could implement

[2020-08-27 12:26] fabiocaccamo commented on #23
@emanuelmd eheh, thank you, I'm glad that you like it... I think that this library should deserve more attention.

Your suggestion could be very useful, I will name the method `find`.

[2020-08-27 15:05] emanuelmd commented on #23
You already added the thing. Legend!
I guess we can close this issue, thanks.

[2020-08-27 15:05] #23 closed

[2020-08-27 16:11] fabiocaccamo commented on #23
@emanuelmd the `find` method will be available in the next release.

[2020-08-28 12:06] uknow2009 commented on #17
^ @fabiocaccamo

[2020-08-31 15:17] Loreton opened #24 "wish-list: override parameter to merge function"
I just discovered your "**_benedict_**" package and I'm really enjoying it. It greatly simplifies the handling of dict in python. I am not a professional programmer but I love doing it. I wanted to ask if it is possible to add the **_"override"_** parameter to the **_merge()_** function, perhaps keeping its default value to False. In the meantime, waiting for your reply, I took the liberty of maki

[2020-08-31 15:21] fabiocaccamo commented on #24
@Loreton I'm really glad you enjoy it, thank you! 
You request seems reasonable and backward-compatible, I will add it to the next release!
PS. the right naming for this is \`**overwrite**\` not `override`.

[2020-08-31 18:04] Loreton commented on #24
Overwrite...right. Thank you Fabio.

[2020-09-01 15:03] Loreton opened #25 "wrong key-values updates using pointers"
**Python version**
Python 3.6.9

**Package version**
python-benedict (0.18.1)

**Current behavior (bug description)**
I'll try to explain the problem using a simple example.

`my_servers="""

    SERVER:
        S01:
            alias: s01_alias
            ssh_port: s01_port
            host: s01_host
            credentials:
                username: s01_user
                password: s01_passw

[2020-09-01 15:10] fabiocaccamo commented on #25
@Loreton note that the `copy` method just do a normal `dict.copy` and cast it to `benedict`.
Could you try to repeat the same test using the standard `dict` please?

[2020-09-01 15:43] Loreton commented on #25
Sure...

[code]

     s01_ptr  == s01_copy? True
     s01_ptr  == SERVER[S01]? True
     s01_copy == SERVER[S01]? True

In this case s01_copy is the same as s01_ptr therefore it may not be considered.

Attached simple script to test the problem. You can enter 'benedict' or 'standard' to test one of them.
Regards
loreto
[Benedict_test02a.zip](https://github.com/fabiocaccamo/python-benedict/files/51

[2020-09-01 15:44] fabiocaccamo commented on #25
@Loreton thank you, I will test it as soon as possible.

[2020-09-02 09:06] fabiocaccamo commented on #25
@Loreton in the test02 you attached, you are not copying the `dict`:
\`\`\`python
s01\_ptr=servers\['SERVER'\]\['S01'\]
s01\_copy=servers\['SERVER'\]\['S01'\] # \<- this should be: s01\_copy=servers\['SERVER'\]\['S01'\].copy()
\`\`\`

[2020-09-02 11:50] fabiocaccamo commented on #25
@Loreton I added a test case for this issue: b9dfedf, it seems that the same error occurs with `dict`

[2020-09-02 12:31] Loreton commented on #25
@fabiocaccamo
You are right.
It was my mistake to include the .copy() example because it might take us out of the main purpose. My purpose is to figure out how to make a pointer using benedict (). If the following statement:

    s01_ptr=benedict(servers['SERVER.S01'])

is the correct one to get a dict_pointer, then we have a different behavior from the standard:

    s01_ptr=servers['SERVER']['S0

[2020-09-02 12:39] fabiocaccamo commented on #25
@Loreton could you please modify the test that I added in the test suite?

[2020-09-02 14:05] Loreton commented on #25
@fabiocaccamo  - Attached the modified tests suite file

[github_issue_0025_test_case.zip](https://github.com/fabiocaccamo/python-benedict/files/5162751/github_issue_0025_test_case.zip)

[2020-09-04 14:01] fabiocaccamo commented on #25
@Loreton the attached test is still not valid, check the difference with the updated test on master.

[2020-09-04 14:01] #25 closed

[2020-09-04 14:01] fabiocaccamo commented on #19
Fixed in `0.18.2` version.

[2020-09-04 14:01] #19 closed

[2020-09-04 14:02] fabiocaccamo commented on #24
Option available in `0.18.2` version.

[2020-09-04 14:02] #24 closed

[2020-09-04 14:18] fabiocaccamo commented on #17
@uknow2009 I think that wrapping all this code with a single method that requires 8 arguments to work would be not a good idea... what do you think about it?

[2020-09-06 17:07] CornyRiegel opened #26 "Strange compatibility issue Spyder 4 vs. PyCharm"
**Python version**
3.8

**Package version**
0.18.2

**Current behavior (bug description)**
When I run this simple code in Spyder 4 (WinPython64-3.8.5.0 ) the package does what it should.
[code]
jason.json file:
[code]

Output:
`embed1 Author name`

but when I run this script in PyCharm 2020.2.1 (Community Edition) (Python 3.8) it fails on the import.

[code]

I'm guessing because the package and t

[2020-09-06 17:09] fabiocaccamo commented on #26
@CornyRiegel there are many packages names as class methods inside, for example `python-slugify`, could you try please to run `pip install python-slugify` then `from slugify import slugify`.

[2020-09-06 18:38] CornyRiegel commented on #26
I found the issue.
PyCharm automatically tried to install the package, but the import isn't called like the package (python-benedict) so it installed BeneDict package instead. After a side-package redo and manually installing the python-benedict package with the optional pip install command it installs all the dependencies as well and now works with the given example up top.

[2020-09-06 18:50] #26 closed

[2020-09-06 19:16] fabiocaccamo commented on #26
Good, thank you for the explanaition. I hope you will enjoy this library.

[2020-09-06 23:20] leobel96 opened #27 "Append to list"
Maybe this feature already exists and I haven't seen it.
With benedict it is possible to add a new item to a list specifying its index like:

 `d['results[0].locations[4]'] = "Rome"`.

It would be fantastic, in my opinion, to have the possibility to append a new element without specifying it's index:

[code]

[2020-09-07 07:41] fabiocaccamo commented on #27
@leobel96 I think it will not be too complicated to support this feature, thank you for the suggestion.

[2020-09-08 14:06] uknow2009 commented on #17
@fabiocaccamo Yes, passing all arguments doesn't seem good, but what can be done is passing some config from our own defined s3 config file and passing only limited arguments like host, bucket and object key via method params. Download file path can be set to process root directory or tmp location as that will be used as intermediate step and later used by `from_xml` method.

[2020-09-09 17:15] Loreton opened #29 "flatten method should return a line for each element in a list"
I need that flatten method return {"key_path": value} also for elements in a list in a dictionary.
For the following dict:

    test:
      d10:
        d11: single
        d12:
          crontab: ["cron_01", "cron_02"]
          minidlna: ["mini_01", "mini_02"]
        d13:
          - dict01: ciao_01
          - dict02: ciao_02

dict.flatten() return:

    {
        "test/d10/d11": "single",

[2020-09-10 09:51] fabiocaccamo commented on #17
@uknow2009 this library could be the solution: https://github.com/dask/s3fs

[2020-09-10 16:18] fabiocaccamo commented on #29
@Loreton thank you for this suggestion, this issue is related to list index support as many other issues. List index support must be implemented at a lower level in this library.
Anyway, the `unflatten` method should be reverse correctly the result of the `flatten` method.
It means that this should not raise an Exception: `assert d == unflatten(flatten(d))`

[2020-09-10 17:51] uknow2009 commented on #17
@fabiocaccamo yes, as per documentation `s3fs` looks more promising to integrate with `benedict`.  This has already ways to pass the arguments and credentials to be used.

[2020-09-11 20:43] Loreton commented on #29
If the list index will be implemented I think that also my request will be covered. In this case my issue is redundant.
Thanks

[2020-09-15 10:23] fabiocaccamo opened #30 "Add django utility methods"
Add django utility methods:

*   `from_django_request(request)`
*   `from_django_model(instance)`
*   `from_django_models(instances)`

[2020-09-15 10:26] fabiocaccamo opened #31 "Add binary format I/O support."
Add binary format I/O methods extending the `.plist` serializer to preserve data types.
- `from_binary()`
- `to_binary()`

[2020-09-15 10:29] fabiocaccamo opened #32 "Keep pointer to the initial input dict (if provided)."

[2020-09-17 13:26] mattiabattaglia opened #33 "index filtering in list of dictionaries"
For my project it was necessary to be able to easily include index filtering. So I had to develop a similar class that enables adressing one or several dictionary entries according to the folowing syntax:
d['key1.key2.(key3.key4==value).key3.key5']=newValue. I think this would be a very pythonic feature that would allow users to work with dictionaries and json-files in a similar way like e.g. with

[2020-09-17 16:21] fabiocaccamo commented on #33
@mattiabattaglia feel free to contribute.

[2020-09-20 17:49] fabiocaccamo commented on #32
@Loreton you can upgrade to `0.20.0` version.

[2020-09-20 17:49] #32 closed

[2020-09-21 12:39] fabiocaccamo commented on #27
@leobel96 I think there is no need to implement some new logic, the best way to add a new item to an existing list is:
[code]
Why you would like to do it differently?

[2020-09-22 05:32] simkimsia opened #34 "json.dumps no longer works directly with benedict in 0.20.0"
**Python version**
3.7.7

**Package version**
0.20.0

**Django version**
2.2.15

**Current behavior (bug description)**

Let's say you have a Django 2.2 model that uses the postgres JSONField

[code]

When you then do

[code]

the `instance.linkage` will definitely still show `{'list': {'scope': {'pk': '109'}}` but `retrieved.linkage` will definitely show `{}`

### What if cast to dict?

if we do

[2020-09-22 08:20] fabiocaccamo commented on #34
@simkimsia thank you for reporting this. I guess this problem is not related to casting, but to the fact that to keep the pointer to the input dict `benedict` now stores data inside a wrapped dict -> https://github.com/fabiocaccamo/python-benedict/blob/master/benedict/dicts/base/base_dict.py

This should be a completely backward compatibility transparent behavior.
In case of emergency, there is a

[2020-09-22 08:22] simkimsia commented on #34
Thank you for prompt reply

@fabiocaccamo

I try but no promises as this is not high on priority once I have a workaround

Hope you understand

[2020-09-22 08:24] fabiocaccamo commented on #34
@simkimsia don't worry, if you find the time, just check what is called by the `JSONField`.

[2020-09-22 08:27] simkimsia commented on #34
Yes, I will try to do so.

By the way, I see that you made no commits. Yet you cite a method `.dict()` as workaround I don't find in the readme.

Am I mistaken?

![image](https://user-images.githubusercontent.com/245021/93859642-7300bc00-fcf0-11ea-881a-aea10740fedb.png)

[2020-09-22 08:56] simkimsia commented on #34
@fabiocaccamo

I think I found the cause.

THis is my code to test using pytest 3.4.1

[code]
This is the 0.20.0 effort when I run `pytest test_benedict.py -s`
![image](https://user-images.githubusercontent.com/245021/93861585-574ae500-fcf3-11ea-85d4-f8d81b142f74.png)

This is the 0.19.0 effort when I run the same command and same test code

![image](https://user-images.githubusercontent.com/24502

[2020-09-22 09:11] fabiocaccamo commented on #34
@simkimsia the `dict()` method is used internally and if someone needs to use it, it means that there is some problem, so I intentionally omitted it from the README.

Thank you very much for the test, it's very useful!

[2020-09-22 11:42] pit007 opened #35 "Unable to clone existing benedict object with keypath_separator=None"
**Python version**
3.6.10

**Package version**
0.20.0

**Current behavior (bug description)**
[code]

**Expected behavior**
[code]
This did work in 0.19.0.

[2020-09-22 13:25] fabiocaccamo commented on #11
With `0.21.0` version you can do:
[code]

[2020-09-22 13:27] fabiocaccamo commented on #13
With `0.21.0` version you can retrieve keypaths including indexes:
[code]

[2020-09-22 13:32] fabiocaccamo commented on #16
@sameer-j with `0.21.0` version you can do it:

[code]

[2020-09-22 13:33] #11 closed

[2020-09-22 13:33] #13 closed

[2020-09-22 13:33] #16 closed

[2020-09-22 13:34] #34 closed

[2020-09-22 13:34] #35 closed

[2020-09-22 13:36] fabiocaccamo commented on #33
@mattiabattaglia please check if the new `match` method added in `0.21.0` version solves your problem:
https://github.com/fabiocaccamo/python-benedict#match

[2020-09-22 13:36] #33 closed

[2020-09-22 13:37] #30 closed

[2020-09-22 13:37] #31 closed

[2020-09-23 08:50] simkimsia commented on #34
I confirm this works ✅

[2020-09-23 08:55] simkimsia commented on #11
I will test this on saturday. Thank you @fabiocaccamo

[2020-09-23 09:04] fabiocaccamo opened #36 "Add .ini file format support."
Add .ini file format support with the following methods:
- `from_ini`
- `to_ini`

[2020-09-26 16:12] Loreton opened #37 "new_flatten() suggestion"
What do you think about a new method that could combine some of the characteristics of three current methods.
I would suggest  (after your excellent work for the match method) something like the following:

    r = d.new_flatten(regex_pattern, separator='_', in_keys=True, in_values=True, case_sensitive=False)
         where:
         - search pattern could be imported from the match(...) method

[2020-09-28 05:52] simkimsia commented on #11
Thank you @fabiocaccamo it works as expected.. I am going to deprecate my original hackish method

[2020-09-28 19:15] fabiocaccamo commented on #37
@Loreton I don't understand what this method should do, could you explain it better providing an example?

[2020-09-29 06:46] Loreton commented on #37
@fabiocaccamo Sure.
I'm trying to use yaml file as configuration file for my little projects.

Also I'm trying to make use of the interpolation concept already present in the python ConfigParser module **${section:option}** which _"enables values to contain format strings which refer to other values in the same section, or values in the special default section"_

To resolve all ${...} I would like

[2020-09-29 07:09] kranonetka opened #38 "benedict.to_json returns empty dict for benedict from generator"
**Python version**
`Python 3.8.3`

**Package version**
`python-benedict==0.21.0`

**Current behavior (bug description)**
`bededict.to_json` for `benedict` from generator returns `'{}'` instead of json dumped dict

**Expected behavior**
`bededict.to_json` should return actual json dumped dict

**Steps to reproduce**
[code]
But if recast `benedict` to `dict` and back to `benedict` it works fine
[cod

[2020-09-29 10:30] fabiocaccamo commented on #37
I think that this seems to be more a your specific need than a generic feature, but looking at it I think that a new general feature could be to add variables support (with keypath), eg:

[code]

[2020-09-29 14:59] Loreton commented on #37
ok, it doesn't matter, if you think it won't be useful, just ignore the request.

Thanks & Regards

[2020-09-30 11:47] alexespencer opened #39 "Performance issue"
**Python version**
3.7

**Package version**
0.18.0 vs 0.21.0

**Current behavior (bug description)**
0.21.0 is up to 30 times slower in some instances than 0.18.0 for "large" dictionaries

**Expected behavior**
Performance is equal or better in 0.21.0

![MicrosoftTeams-image (2)](https://user-images.githubusercontent.com/7407677/94681274-10747500-031b-11eb-8119-5c54cb3f311d.png)

Code to reproduce

[2020-09-30 11:49] alexespencer commented on #39
In the screenshot above, you can see that 0.21.0 took 60 seconds ish to run. The 0.18.0 code took just 2 seconds. Code to reproduce this is attached above. I just used python 3.7, and in two different environs had 0.21.0 and 0.18.0. This was spotted during a huge performance slow down in our kubernetes cluster - I have now locked the version (should have done that before, that's on me) - but thoug

[2020-09-30 12:28] alexespencer commented on #39
I removed the "get" of missing elements and it still takes a long time - I wondered if it might just be that bit that's slow, but it still took the same time. Ideally the timer would only start after the dictionary has been created too - so I reran the test and 0.21.0 took 30 seconds - so perhaps both setting and getting is affected?

[2020-09-30 12:46] fabiocaccamo commented on #39
@alexespencer thank you for reporting this, I'm confident that this slowdown is caused by the base layer introduced [here](https://github.com/fabiocaccamo/python-benedict/commit/eac655b67f1a366dd37b49edaa73ef2065689d52).

[2020-09-30 12:47] alexespencer commented on #39
@fabiocaccamo was that from 0.20.0? I just double checked 0.19.0 and that's all good, the slow down starts from 0.20.0

[2020-09-30 12:50] fabiocaccamo commented on #39
Yes, it has been released in `0.20.0`, you pass an initial dict or you start with an empty dict?

[2020-09-30 13:02] alexespencer commented on #39
@fabiocaccamo in the test code above I start with an empty one, passing "benedict({})" to initialise it, then populate via .set. However, in our production code we usually read JSON into a dict, then pass that in.

[2020-09-30 16:38] fabiocaccamo commented on #39
@alexespencer I figured out the problem, it is the [automatic casting](https://github.com/fabiocaccamo/python-benedict/blob/master/benedict/dicts/__init__.py#L56) to `benedict` of retrieved dict values.

The problem occurs because some internal utilities call methods like `__getitem__` or `get` (for example [this one](https://github.com/fabiocaccamo/python-benedict/blob/master/benedict/dicts/keyli

[2020-09-30 17:06] fabiocaccamo commented on #38
You upgrade to `0.21.1` version.

[2020-09-30 17:06] #38 closed

[2020-09-30 17:06] fabiocaccamo commented on #39
@alexespencer You can upgrade to `0.21.1` version.

[2020-09-30 17:08] #39 closed

[2020-11-11 21:29] janfait commented on #27
Hi, consider this scenario pls. I would like to dynamically create a list and ad a nested element to it. While I understand that append can be used, I would have to do this stepwise - first append the empty dict to "operators" node below and then populate the "company.id" keypath.
thanks.

[code]

[2020-11-11 22:19] fabiocaccamo commented on #27
@janfait I understand your need, btw this is the default list behavior, otherwise lists will never raise `IndexError`.

You could just create an empty list of the desired length before accessing to its items:
[code]

[2020-11-23 21:06] ponders opened #41 "setting value on path with an index doesn't create the list element"
**Python version**
3.8.1

**Package version**
0.22.0

**Current behavior (bug description)**
d[x[0].y] = value
  throws an exception if x[0] doesn't exist

**Expected behavior**
d[x[0].y] = value
  I expected that the list element 0 would be automatically created (i.e. like a key is) if it don't exist

[2020-11-25 08:09] pmrowla opened #42 "conda-forge package"
Hi @fabiocaccamo, we are looking to use benedict in https://github.com/iterative/dvc. We need to support conda in DVC and are currently in the process of submitting a conda-forge package for python-benedict. Would you like us add you to the maintainers list for the conda package?  (Maintenance mostly just involves approving auto-generated PRs from conda's bots whenever a new pypi package is releas

[2020-11-25 09:49] fabiocaccamo commented on #42
@pmrowla I'm glad you want to use `benedict` in `dvc`. Sure, feel free to add me to the mainteiners list.

[2020-11-25 10:04] pmrowla commented on #42
Done. Whenever you get a chance please add a comment in conda-forge/staged-recipes#13326 noting that you've agreed to be added to the maintainers

[2020-11-25 10:07] fabiocaccamo commented on #41
- if `x` is a `list` and not a `benedict` instance this problem has nothing to do with `benedict`.
- if `x[0].y` is a keypath, you wrote it wrong.
- If you would like to append items to a list inside a `benedict` instance, this is a duplicate of #27.

[2020-11-25 10:07] #41 closed

[2020-11-26 13:28] lburinov73 opened #43 "dump benedict object to yaml not working in versions from 0.20 to 0.22"
**Python version**
3.8.0

**Package version**
0.20 - 0.22

**Current behavior (bug description)**
Code example:
[code]
With `python-benedict==0.19.0`:
[code]
With `python-benedict==0.22.0`:
[code]

`to_yaml()` not working too.
Code example:
[code]
Result with `python-benedict==0.19.0`:
[code]

Result with `python-benedict==0.22.0`:
[code]

[2020-11-27 12:02] fabiocaccamo commented on #43
@lburinov73 fixed in `0.22.1` version.

[2020-11-30 07:27] lburinov73 commented on #43
@fabiocaccamo Hi! `to_yaml()` is fixed, but something is wrong with dict compatibility

[code]

`python-benedict          0.22.1`

This code worked in 0.19...

[2020-11-30 09:42] #42 closed

[2020-11-30 10:59] fabiocaccamo commented on #43
@lburinov73 fixed in `0.22.2` version.

[2020-11-30 10:59] #43 closed

[2020-11-30 12:44] lburinov73 commented on #43
@fabiocaccamo thanks!

[2020-12-07 14:40] gschoenberger opened #44 "Cannort import benedict"
**Python version**
3.8

**Package version**
0.22.2

**Current behavior (bug description)**

Traceback (most recent call last):
  File "<input>", line 1, in <module>
ImportError: cannot import name 'benedict' from 'benedict' (unknown location)

**Expected behavior**
It should be possible to import and use benedict.

** Additional pip information
$ pip show python-benedict
Name: python-benedict
Vers

[2020-12-07 14:54] fabiocaccamo commented on #44
This is really strange, you are the first one reporting this issue.
Could you send please a PR containing a test which should succeed but fails?

[2020-12-07 15:23] gschoenberger commented on #44
I found the problem!
PyCharm installed the wrong benedict: https://pypi.org/project/BeneDict/
PyCharm installed "BeneDict" with "pip install benedict" automatically when using the import statement: "from benedict import benedict"
But as you wrote in the docs, you have to run "pip install python-benedict"...

[2020-12-07 15:52] fabiocaccamo commented on #44
I understand... maybe it would be useful to report this issue to `PyCharm`.

[2020-12-07 15:52] #44 closed

[2020-12-10 11:49] LinnaViljami opened #45 "Update or insert"
# Problem description

The current merge() function is awesome but can not handle situation where we want UPDATE OR IF NECESSARY extend nested dictionary/list with  new value/path.

Let me deliver an example:
[code]
Generally I would want function which insert or update value to path, but not override paths. If paths are missing we add the new path but not override anything but the final value

#

[2020-12-10 11:50] LinnaViljami commented on #45
I could also impelement this myself and be part of the project :)

[2020-12-10 11:56] fabiocaccamo commented on #45
@LinnaViljami thank you for this suggestion. What you are asking for is pretty clear and already planned.

[2020-12-10 12:16] LinnaViljami commented on #45
Thanks for quick answer @fabiocaccamo . Is there some plans about when and how this feature may be implemented? Is somebody already working on it, or are there any ideas which kind of method/addition would fit well to this project?

[2020-12-11 03:27] RonanMcCarthy opened #46 "Output to JSON broken after clone()"
**Python version**
3.6.9

**Package version**
0.22.2

**Current behavior (bug description)**
I've discovered a case where JSON output is incorrect for cloned `benedict`s. It can be reproduced with the following

[code]

[code]

Note that the `kc` nested dictionary is empty.

**Expected behavior**

The `kc` dictionary should be ` {"extra_key2": "value2", "key1": "", "key2": "value2", "key3": "value

[2020-12-22 12:24] fabiocaccamo commented on #46
@RonanMcCarthy you can upgrade to `0.22.4` version.

[2020-12-22 12:24] #46 closed

[2020-12-22 12:25] fabiocaccamo commented on #45
@LinnaViljami you can upgrade to `0.22.4` version and check the new `concat` option in the `merge` method.

[2020-12-22 12:29] LinnaViljami commented on #45
Awesome Job! Thank you! 😊

ti 22. jouluk. 2020 klo 14.25 Fabio Caccamo <notifications@github.com>
kirjoitti:

[2020-12-22 13:01] #45 closed

[2020-12-25 21:30] quancore opened #47 "filter and modify list of dicts"
So I have a list of dicts like this (this dict could be in nested dict as well):
`guilds = [{"ID":1, "Name":"x"}, {"ID":2, "Name":"y"}]`

I want to modify the value of the `Name` key in the dict which `ID` is 1. I could not find how can I do that with the library.

[2020-12-25 21:51] fabiocaccamo commented on #47
You need to iterate over the dicts list and change the value if your condition is satisfied.

How would you expect to do it using this library?

[2020-12-25 23:17] quancore commented on #47
Actually, I already see a related issue here: #33
Some methods to combine key path and filters would be perfect like "key1.key2.['ID' == val].Name", so if the result is a shallow copy, I can modfiy.

[2020-12-26 13:42] fabiocaccamo commented on #47
@quancore actually this is not possible.

This request seems to go in the direction of add `xpath` support, what do you think about it?

[2020-12-26 15:52] quancore commented on #47
Yes, all the roads going to a capable path conversion like XPath.

[2021-01-12 15:40] LinnaViljami opened #48 "Concat parameter on merge method does not work properly"
## Wrong behavior
New list overwrites old list, or nothing happens.

## Assumed behavior
List contains values from original and merged lists.

## Steps to reproduce problem
1. Init benedict as follows
[code]
2. Init dict to merge as follows
[code]
3. Try to merge
[code]

[2021-01-18 11:25] yurj opened #49 "Improve traverse, calling the callback with the full path key instead of the last one"
Sometimes it can be useful to have the full path in the callback, for example to find a particular node in the nested dict.

Something like:
[code]

example code:

[code]

[2021-01-18 15:20] yurj commented on #49
Ops, there's an error, path is always incremented because it is always incremented while it should not when the recursion goes back. Newbie bug, sorry. But I think the idea is well explained.

[2021-01-19 10:59] #48 closed

[2021-02-05 10:36] mizeng opened #50 "Can not support one yaml format"
[code]

if my yaml is as above,  ` benedict.from_yaml` will throw exception
[code]

[2021-02-05 10:58] fabiocaccamo commented on #50
@mizeng if you initialize `benedict` from an other dict or from a data source, the existing keys **must not contain** the separator.

`.` is the default `keypath_separator`, you can [use a custom one](https://github.com/fabiocaccamo/python-benedict#custom-keypath-separator) or [disable it](https://github.com/fabiocaccamo/python-benedict#disable-keypath-functionality) at all:
[code]

[2021-02-05 10:58] #50 closed

[2021-03-17 20:50] sommelon opened #51 "Clean values in lists"
Is there a way to clean all values, including those that are in a list with one method? If not it would be nice to have.

[2021-03-18 10:10] fabiocaccamo commented on #51
@sommelon actually the clean method doesn't clean recursively.

[2021-03-18 10:55] sommelon commented on #51
@fabiocaccamo oh, I see, I overlooked it. Are you planning to add it in the future?

[2021-03-18 10:58] fabiocaccamo commented on #51
@sommelon actually I'm quite busy, I will add it when I will need it on an existing project.

[2021-03-18 10:58] #51 closed

[2021-05-01 19:27] saveshodhan opened #52 "Original object is getting updated in the `merge` operation"
**Python version**
3.8.5

**Package version**
0.23.2

**Current behavior (bug description)**
The `benedict` object when merged with another `dict` also updates the original object, even though both point to different memory locations.
In the example below, `a` was passed to `benedict` and stored in `b`, and even though both have different memory addresses, both of these are updated in the `merge`

[2021-05-01 20:00] fabiocaccamo commented on #52
@saveshodhan if you initialize benedict with an existing dict, it will keep the pointer to the original dict, you can read more about this in #32.

If you want to preserve the original instance you can just clone the benedict instance.

[2021-05-01 20:16] #52 closed

[2021-05-04 10:31] next-franciscoalgaba opened #53 "to_toml() ValueError: Circular reference detected"
**Python version**

3.7.0

**Package version**

0.23.2

**Current behavior (bug description)**

After reading and modifying a TOML value in a benedict object. If trying to write the changes back to the TOML a ValueError is raised.

Example:
[code]

Execption raised:

[code]

**Expected behavior**

New changed TOML dumped to stdout as string and if `filepath` argument specified, write to destinatio

[2021-05-04 10:33] fabiocaccamo commented on #53
@next-franciscoalgaba thank you for reporting this, could you please provide your toml file?

[2021-05-04 10:36] next-franciscoalgaba commented on #53
Hi, just created the PR fixing the issue: https://github.com/fabiocaccamo/python-benedict/pull/54

[2021-05-04 10:38] next-franciscoalgaba commented on #53
The TOML file is a standard Poetry pyproject.toml file.

[code]

Thank you for the fast reply.

[2021-05-04 10:41] fabiocaccamo commented on #53
@next-franciscoalgaba I think that the problem is related to the `keypath_separator`, could you try to do this:
[code]

[2021-05-04 11:10] next-franciscoalgaba commented on #53
Exactly, the problem is related to the `keypath_separator`. Regarding my problem, that is parsing a Poetry project file, the standard for the framework for `keypath_separator` is `.`

With the submitted PR, the `keypath_separator` error is solved. Just submitted the required tests.

Thanks.

[2021-05-04 21:28] #36 closed

[2021-05-04 21:47] fabiocaccamo commented on #53
@next-franciscoalgaba this has been fixed in `0.24.0` version.

[2021-05-04 21:47] #53 closed

[2021-05-06 21:43] fabiocaccamo commented on #18
@braco maybe that with the time I will move some parts of this library to their own library, but this package will continue to install everything it needs at once, for this reason I decided to close this issue.

[2021-05-06 21:43] #18 closed

[2021-05-25 07:10] jtlz2 opened #55 "How would I search and replace using an arbitrary function?"
Many thanks for such awesome code - super helpful!

I would now like to search and replace fields of a certain type within an arbitrarily-nested dictionary (including sets, lists, more dicts etc.), the aim being to replace those fields with primitive types so I can serialize the dictionary.

I can see how to `search` and `filter`, but not how to `apply`?

How would you achieve this using `python-b

[2021-05-25 08:25] fabiocaccamo commented on #55
@jtlz2 thanks! I'm glad you find it useful.

You should be able to do that using the `search` or the `traverse` method, could you show your dict please?

[2021-06-21 08:19] flutterq commented on #14
[All possible working solution at [Solved] TypeError: ‘module’ object is not callable
](https://flutterq.com/typeerror-module-object-is-not-callable/)

[2021-06-28 08:18] sshishov opened #56 "Merge and one line operation"
### Currently, to do a merge, we should have multiple lines of code which is not what users like.

Let's assume this example:
[code]
It would be nice to simplify 2 last lines like this:
[code]
And all the logic about creation of new dictionary and merging it would be encapsulated.

### Standard python implementation
Standard `dict's` method update suffers the same way that is why users come up wit

[2021-07-10 12:33] fabiocaccamo commented on #56
**The standard python implementation doesn't support deep merge.**

This is wrong, because you can do this:
[code]

[2021-07-10 12:33] #56 closed

[2021-07-10 16:33] sshishov commented on #56
@fabiocaccamo you are right! Thank you for the hint!

[2021-07-19 20:32] fabiocaccamo commented on #55
@jtlz2 any feedback?

[2021-07-28 13:56] alexespencer opened #57 "json.dumps broken 24.0"
**Python version**
3.8

**Package version**
24.0

**Current behavior (bug description)**
Passing a benedict dictionary into json.dumps() returns an empty dictionary if you initialise benedict on an empty dict
[code]

![image](https://user-images.githubusercontent.com/7407677/127334542-3cc1f61e-89a2-4e07-a021-d6d36224187c.png)

**Expected behavior**
`json.dumps(benedict_dict)` should work as normal

[2021-07-28 13:58] alexespencer commented on #57
It looks like json.dumps() works if initialised on non-empty dict. Maybe a new unit test is required too?

[2021-07-31 06:48] fabiocaccamo commented on #57
@alexespencer thank you for reporting this.

[2021-08-01 10:19] fabiocaccamo commented on #57
@alexespencer You can upgrade to `0.24.1` version.

It seems that python doesn't keep the pointer to an empty dict, you can test it yourself:
[code]

[2021-08-01 10:19] #57 closed

[2021-08-01 10:49] alexespencer commented on #57
Great stuff, thank you.

On Sun, 1 Aug 2021, 11:19 Fabio Caccamo, ***@***.***> wrote:

[2021-08-01 14:45] #55 closed

[2021-08-03 04:00] skshetry opened #59 "`merge` not working for empty dictionaries"
[code]

This seems to be happening due to e8ccb7270e which does not maintain the pointer to the original dictionary if the dictionary is empty, so looking at the code, it may affect more than just the `merge`.

**Python version**
3.9.4

**Package version**
0.24.1

**Current behavior (bug description)**
The empty dictionary is not updated in-place, but the benedict object is.

**Expected behavior**

[2021-08-04 13:05] RomainTT commented on #59
I think I found another consequence.

[code]

As you can see, `b` is missing.

[2021-08-08 05:17] simkimsia commented on #59
I think i found the solution and the actual bug. The issue was that the original solution to solve the json.dumps(d) aka `test_issue_0057` is wrong. There's an extra return in `__setitem__` under BaseDict.py. Removing that solved everything.

I have run the full suite locally and everything passed

![image](https://user-images.githubusercontent.com/245021/128621661-32bc5624-7fab-42a1-a6f5-a50fcc77

[2021-08-08 05:28] simkimsia commented on #59
Thank you, @skshetry and @RomainTT for writing example test cases so I can create PR #60 which should solve the buggy 0.24.1

[2021-08-08 06:23] simkimsia opened #61 "All the mutators should update both the superclass and the `._dict`"
Based on the conversation started by @skshetry

_Originally posted by @skshetry in https://github.com/fabiocaccamo/python-benedict/pull/60#discussion_r684717721_

I have studied the various instance methods inside BaseDict.py

My conclusions/hypotheses/assumptions:

1. A two dataset solution is assumed.
2. Therefore, all mutator methods (such as `__setitem__` and `clear`, etc) need to update both

[2021-08-11 09:38] fabiocaccamo commented on #59
You can upgrade to `0.24.2`.

[2021-08-11 09:38] #59 closed

[2021-08-11 09:38] fabiocaccamo commented on #61
You can upgrade to `0.24.2`.

[2021-08-11 09:38] #61 closed

[2021-08-11 09:45] simkimsia opened #62 "Why this solves all the issues regarding JSOn encoding?"
https://github.com/fabiocaccamo/python-benedict/blob/92d9a32d5b214839c35a63b71bae21f7864a3535/benedict/dicts/__init__.py#L285

Question: how come this solves the issue? Curious and want to learn. Thank you 🙏

[2021-08-11 09:56] simkimsia commented on #62
Curious how u found this... did u set debug points in cpython?

[2021-08-11 09:58] simkimsia commented on #62
@fabiocaccamo  Thank you for finding this excellent solution to have best of both worlds. We all benefit from your efforts 🙏

[2021-08-12 05:48] skshetry commented on #62
I did a quick perf-test and this monkey-patching seems to be making `json.dumps` 4x slower.

Here's the test script:
[code]

Here's the benchmark in my machine:
[code]

[2021-08-12 13:44] fabiocaccamo commented on #62
@skshetry I had no doubts about it, thanks for taking the test, could you repeat it without running the request inside the test but just the dumps?

[2021-08-13 08:38] skshetry commented on #62
The timer runs after the request, so it should not be affected. But here's the simplest example (other than testing with an empty dictionary):
[code]
[code]

[2021-08-13 11:21] Dorianux opened #63 ".flatten() and .unflatten() dont respect keypath_separator"
**Python version**
3.9

**Package version**
0.24.2

**Current behavior (bug description)**

{'a': {'b': 1, 'c': {'a': 1, 'b': 2}}}

or

{'a': {'b': 1, 'c': {'a': 1, 'b': 2}}}

**Expected behavior**

{"a_b":1,"a_c":{"a":1,"b":2}}

**remark**

benedict is a very cool package, thnx

[2021-08-13 14:47] fabiocaccamo commented on #63
I'm pretty sure that using the `keypath_separator` as flatten separator creates some conflict, but I understand the problem you are reporting and you are right, maybe a double underscore `__` could solve both problems.

[2021-08-14 10:20] Dorianux commented on #63
sorry, i dont understand.
you mean the examples i provided are already behaving correct?

the problem i have is, that my keys contain a "_".
i just want no changes to my keys, how can i achive that?

Both keypath_seperator=None and keypath_seperator="__" result in changed keynames for flatten and unflatten.

{'a': {'b': 1, 'c': {'a': 1, 'b': 2}}}

[2021-08-14 21:48] Dorianux commented on #63
oh, i just found that flatten() and unflatten() accept an separator argument.

sorry for the buzz!

{"a_b":1,"a_c":{"a":1,"b":2}}

works as expected!

[2021-08-14 21:48] #63 closed

[2021-08-24 14:32] peijieking opened #65 "is it possible to change dict to ordered dict?"
Is it possible to chage class BaseDict(dict): to class BaseDict(OrderedDict):

[2021-08-24 14:37] fabiocaccamo commented on #65
@peijieking why would you need it?

[2021-08-24 14:41] peijieking commented on #65
@fabiocaccamo I want to benedict has same format with xml file

[2021-08-28 23:34] #65 closed

[2021-08-28 23:35] peijieking commented on #65
it's not issue

[2021-09-06 14:26] Darkdragon84 opened #66 "Tuple index support"
Great library! There is the great feature for list index support `loc = d['results[0].locations[-1]']`, where `results` and `locations` are lists. I would love to see the same support for tuples, i.e. the above should also work for e.g. `d={"results": [{"locations": (1,2,3)}, {"locations": (4,5,6)}, {"locations": (7,8,9)}, {"locations": (10,11,12)}]}`. Is there a specific reason why tuples are not

[2021-09-28 20:11] Vermyndax commented on #44
Interestingly, I'm having this exact same problem. I verified that I installed python-benedict, unlike the person above, but it's still not finding the library.

[2021-09-28 21:25] fabiocaccamo commented on #44
@Vermyndax are you using PyCharm too?

[2021-09-28 21:31] Vermyndax commented on #44
No, I'm using just regular old pip. Even more odd... if I run this from a virtualenv, Benedict isn't recognized. If I come out of the venv and use system packages, it works fine. Both were installed with pip.

[2021-09-29 08:29] fabiocaccamo commented on #44
@Vermyndax also I use pip with virtualenv, have you installed the right package and you are importing it correctly?
- `pip install python-benedict`
- `from benedict import benedict`

[2021-10-02 12:22] fabiocaccamo opened #67 "Add `xpath` support."
Related issues: #33 #47

[2021-10-02 12:23] fabiocaccamo commented on #47
I close this issue moving it to #67.

[2021-10-02 12:23] #47 closed

[2021-10-02 12:24] #37 closed

[2021-10-04 10:25] fabiocaccamo commented on #66
@Darkdragon84 you can upgrade to `0.24.3` version.

[2021-10-04 10:25] #66 closed

[2021-10-25 21:21] andreashe opened #69 "module name conflict"
There is a issue as a module named BeneDict exists.

I have trouble in Intellj as it does automatically install the wrong one.
And now even AWS is confused. The

from benedict import benedict

causes crazy things. Would be good if you rename it or show a way to get out of this conflict.

[2021-10-25 21:25] #69 closed, assigned to nobody

[2021-12-04 04:59] hudgeon commented on #17
@tasneem-hyder We do a lot of this with benedict and s3fs (Thanks @fabiocaccamo BTW). Below is a code snippet that shows how we do it.

We thought about opening a pull request but haven't because boto3 is a big library that would make benedict a much heavier package. But we're happy to do so if this would be useful.

[code]

[2021-12-04 05:16] hudgeon commented on #17
And, for completeness, here is some code that writes XML to S3

[code]

[2021-12-04 13:17] fabiocaccamo commented on #17
@hudgeon thanks for pointing out at your implementation, it looks pretty easy to add s3 support using `boto3`.

I agree, this dependency is a big library, but we could add it optional, so it will be available only if the library is installed with the optional requirement: `pip install python-benedict[s3]`.

What do you think about this solution?

As the library is getting bigger this approach coul

[2021-12-04 22:57] hudgeon commented on #17
@fabiocaccamo I reckon that'd be pretty useful to a lot of people.

Are you thinking that if the first argument of the IO Method starts with s3:// then it uses s3fs as the 'filesystem' perhaps with a read_s3_file and write_s3_file functions in here: https://github.com/fabiocaccamo/python-benedict/blob/eb950c57c0a17c58dfc247fd85a6e3baffb77e5f/benedict/dicts/io/io_util.py

[2021-12-04 23:23] fabiocaccamo commented on #17
That's exactly what I would do!

If the `filepath` argument in `read_file` and `write_file` starts with `'s3://'` then call the s3 IO method:
- `read_s3_file` or `read_file_from_s3`
- `write_s3_file` or `write_file_to_s3`

[2021-12-05 01:13] hudgeon commented on #17
:) Nice that we're on the same page. How would you like to proceed with this work and how can we assist?

[2021-12-05 04:01] hudgeon commented on #17
@fabiocaccamo FYI, I've just taken a look at s3fs and it actually doesn't use boto3. It uses https://github.com/aio-libs/aiobotocore and https://github.com/boto/botocore.

[2021-12-05 22:12] fabiocaccamo commented on #17
@hudgeon could you submit a PR including tests?

[2021-12-06 01:49] mo-han commented on #67
and also `glob` please

[2021-12-06 09:09] mo-han commented on #67
quite the same as https://github.com/dpath-maintainers/dpath-python

[2021-12-07 12:03] hudgeon commented on #17
@fabiocaccamo No worries. We should be able to get to it this weekend.

[2021-12-23 15:12] fabiocaccamo opened #70 "Add `xls` format support."

[2022-01-05 15:41] fabiocaccamo opened #71 "Add `freeze` method (to make the dict immutable)."

[2022-01-09 04:50] stanleyjs opened #72 "Traverse dictionary at a given level"
Hi,

I would like to iterate over all of the keys / items of a given level.

Ideal behavior:

[code]
And similar functionality for items and other iterators...

[2022-01-21 15:36] fabiocaccamo commented on #17
@hudgeon I implemented `s3fs` I/O operations in the [s3 branch](https://github.com/fabiocaccamo/python-benedict/tree/s3), could you add some tests [here](https://github.com/fabiocaccamo/python-benedict/blob/s3/tests/dicts/io/test_io_util.py)?
*(just for the methods that involves the s3 storage is enough)*

[2022-01-21 20:50] hudgeon commented on #17
@fabiocaccamo We've also implemented it and have been using it from our private pip repository for several weeks now - but didn't push it to your branch because we haven't written tests for it. :)

In order to do the tests properly, we reckon we'll need to use localstack (https://github.com/localstack/localstack) which we haven't done before. Currently our S3 tests use an S3 bucket we own. Can you

[2022-03-01 14:38] fabiocaccamo commented on #72
Duplicate of #49, improving the traverse method a `level` and `max_depth` options could be added.

[2022-03-01 14:38] #72 closed

[2022-04-26 22:47] JJGO opened #88 "Flatten with dot separator"
**Python version**
Python 3.9.12

**Package version**
master (installed with `python -m pip install git+https://github.com/fabiocaccamo/python-benedict.git`)

**Current behavior (bug description)**
flatten does not work with the `.` separator. E.g.

[code]

**Expected behavior**

[code]

[2022-04-26 23:47] JJGO opened #89 "Broken Serialization with benedict attributes"
**Python version**
Python 3.9.12

**Package version**
master (installed with `python -m pip install git+https://github.com/fabiocaccamo/python-benedict.git`)

**Current behavior (bug description)**
If a benedict gets assigned to a key serialization does not convert it to a regular dict

[code]

outputs

[code]

**Expected behavior**

[code]

outputs

[code]

[2022-04-27 08:06] fabiocaccamo commented on #88
@JJGO the problem here is that you are trying to `flatten` the dict using the same separator used as `keypath_separator` (`'.'` by default), so once flattened, the keys are automatically splitted using the `keypath_separator` and the dict comes back to its initial form.

This behaviour seems the right one to me, an improvement could be to raise a `ValueError` if the flatten separator is equal to t

[2022-04-27 17:33] fabiocaccamo commented on #89
@JJGO you can upgrade to `0.25.1` version.

[2022-04-27 17:33] #88 closed

[2022-04-27 19:34] JJGO commented on #89
Yup, that works! Thanks

[2022-04-27 19:41] JJGO commented on #88
While that's a reasonable behavior, I think it would be useful to have a couple of methods like these

[code]

[2022-04-27 20:35] fabiocaccamo commented on #88
There is already the `unflatten` method for doing this.

[2022-07-14 17:42] kikohs opened #102 "Internal benedict reference to old value"
I've opened an issue on ORJSON which I'm using to serialize benedict dicts.
https://github.com/ijl/orjson/issues/281

Basically I don't understand why something like this could happen:

[code]

```b'{"internal":{"mykey":"OLD"}}'```

It should be "NEW".
Could you please explain how benedict handles sub benedict references?

Or why this would happen, thank you.

[2022-07-14 19:25] fabiocaccamo commented on #102
@kikohs thank you for reporting this, I will add a test case as soon as possible.

[2022-07-15 22:02] fabiocaccamo commented on #102
@kikohs you can upgrade to `0.25.2` version.

[2022-07-15 22:02] #102 closed

[2022-08-11 06:59] ddl-tanner-green commented on #44
pip uninstall python-benedict
pip uninstall benedict
pip install python-benedict

[2022-08-22 16:30] ponders opened #109 "setting value of dict element inside a list"
should this work?

[code]

The last line `d['e.f[4].g'] = 'note'` throws an exception

[2022-08-23 08:08] fabiocaccamo commented on #109
@ponders thank you for reporting this, you can upgrade to `0.25.3` version.

[2022-08-23 08:08] #109 closed

[2022-08-24 02:14] Tatamethues opened #110 "Toml file ValueError: Circular reference detected"
**Python version**
3.9.13

**Package version**
python-benedict    0.25.2

**Current behavior (bug description)**
`ValueError: Circular reference detected` caused by to_toml

[code]

**Expected behavior**
I tried directly using [toml](https://github.com/uiri/toml).
[code]

[2022-08-29 22:05] ponders commented on #109
Thanks, @fabiocaccamo! That's working great for me.

[2022-09-06 11:13] fabiocaccamo commented on #110
@Tatamethues you can upgrade to `0.25.4` version.

[2022-09-06 11:13] #110 closed

[2022-09-12 21:47] milhauzindahauz opened #113 "Wildcard support for renaming"
Desired funcionality as following:

[code]

[2022-09-13 07:53] milhauzindahauz commented on #113
Hi @fabiocaccamo,

I want to use the module in my workflow. The benedict class has a lot of features but wildcard support for moving/renaming is missing. I checked the docs and usage of wildcard is possible in match method. So I made it working in #114.

I am not sure if I covered all use cases in tests. And I am not sure if this functionality is  even desired.

Cheers.

[2022-09-13 08:23] fabiocaccamo commented on #113
@milhauzindahauz thank you for the enhancement proposal and the PR. I will review the PR as soon as possible.

[2022-09-14 09:09] milhauzindahauz commented on #113
@fabiocaccamo
what behaiviour should be expected with  ```keypath = "a[*]"```?

[2022-09-14 09:52] fabiocaccamo commented on #113
@milhauzindahauz could you be more specific about the context?

[2022-09-14 14:22] FilippoLippi opened #115 "Return type(self) from _cast and __deepcopy__ methods"
To be able to subclass benedict without redefining _cast and __deepcopy__
it would be nice if these methods return instances of class type(self) instead of class benedict

[2022-09-15 10:27] milhauzindahauz commented on #113
@fabiocaccamo check this out
[code]

[2022-09-15 10:43] fabiocaccamo commented on #113
@milhauzindahauz it should be `b.get("a") == b.get("a[*]")`, no doubts.

[2022-10-05 15:06] fabiocaccamo commented on #113
@milhauzindahauz any update? I would like to publish a new release in the next days and it would be great having also this feature released.

[2022-10-05 15:06] #70 closed

[2022-10-05 15:07] #115 closed

[2022-10-05 15:22] fabiocaccamo commented on #113
@milhauzindahauz no problem, the release can wait.
Thank you very much for the quick feedback.

[2022-10-12 13:15] fabiocaccamo commented on #115
@FilippoLippi you can upgrade to `0.27.0` version.

[2022-10-12 13:18] fabiocaccamo commented on #17
@tasneem-hyder @hudgeon `s3` support has been added in `0.27.0` version.

https://github.com/fabiocaccamo/python-benedict#io-methods

[2022-10-12 13:20] FilippoLippi commented on #115
thanks @fabiocaccamo

[2022-11-21 19:57] svisser opened #143 "Support for Python 3.11"
This is an issue for tracking support for Python 3.11. It might be nice to make `toml` only a required dependency for Python 3.10 and below, given that we now have https://docs.python.org/3/library/tomllib.html. There could be other changes specifically for Python 3.11 as well, but I can't currently think of any.

[2022-11-21 20:33] svisser opened #144 "Support for `pathlib.Path`."
This is an issue to explore adding support for Python's [pathlib](https://docs.python.org/3/library/pathlib.html). At the moment the following works:

[code]

but the following raises an error:

[code]

[2022-11-26 17:21] #143 closed